<% if category.title == 'Ruby on Rails' %>
  <span class='badge alert-danger'>
<% elsif category.title == 'C#' %>
  <span class='badge alert-success'>
<% elsif category.title == 'Unity' %>
  <span class='badge progress-bar-info'>
<% elsif category.title == 'Javascript' %>
  <span class='badge progress-bar-warning'>
<% elsif category.title == 'Git' %>
  <span class='badge progress-bar-primary'>
<% end %>
  <%= category.title %>
</span>